In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")
plt.style.use("ggplot")
%matplotlib inline

# app info veri setinin incelenmesi

In [3]:
apps_df = pd.read_csv("data/apps_info.csv")

In [5]:
apps_df.head()

,app_id,app_name,description,score,ratings_count,downloads,content_rating,section,categories
0,1,Western Union Send Money Now,Enjoy a $0 transfer fee* on your next online i...,4.6,317000,10000000,Everyone,Budgeting tools,Finance
1,2,"Priceline: Hotel, Flight & Car",Save on your next trip with exclusive deals on...,4.7,502000,10000000,Everyone,Business tools,Travel & Local
2,3,Slack,Slack brings team communication and collaborat...,3.4,134000,10000000,Everyone,Business tools,Business
3,4,MyWalmart,"Introducing MyWalmart, the one app designed fo...",4.7,211000,1000000,Everyone,Business tools,Business
4,5,Fidelity Investments,Invest at a firm invested in you. Fidelity’s s...,4.6,182000,5000000,Everyone,Business tools,Finance

In [8]:
apps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          217 non-null    int64
 1   app_name        217 non-null    object
 2   description     217 non-null    object
 3   score           217 non-null    float64
 4   ratings_count   217 non-null    int64
 5   downloads       217 non-null    int64
 6   content_rating  217 non-null    object
 7   section         217 non-null    object
 8   categories      217 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ KB

In [10]:
print(apps_df.isnull().sum())

app_id            0
app_name          0
description       0
score             0
ratings_count     0
downloads         0
content_rating    0
section           0
categories        0
dtype: int64

In [13]:
print(f"apps_info.csv shape: {apps_df.shape}")
print("\n Apps Info – Numerical Summary:")
display(apps_df.describe())

apps_info.csv shape: (217, 9)

 Apps Info – Numerical Summary:

           app_id       score  ratings_count     downloads
count  217.000000  217.000000   2.170000e+02  2.170000e+02
mean   109.000000    4.405069   2.803914e+06  3.895668e+08
std     62.786676    0.426465   8.065644e+06  1.261960e+09
min      1.000000    1.900000   6.140000e+03  1.000000e+06
25%     55.000000    4.300000   1.880000e+05  1.000000e+07
50%    109.000000    4.500000   5.650000e+05  1.000000e+07
75%    163.000000    4.700000   2.130000e+06  1.000000e+08
max    217.000000    4.900000   1.010000e+08  1.000000e+10

# games info veri setinin incelenmesi

In [4]:
games_df = pd.read_csv("data/games_info.csv")

In [6]:
games_df.head()

,game_id,game_name,description,score,ratings_count,downloads,content_rating,section,categories
0,1,Geometry Dash SubZero,Geometry Dash is back with a brand new adventu...,4.5,926000,100000000,Everyone,Abstract graphics,"Action, Platformer, Runner, Arcade, Single pla..."
1,2,Word Collect - Word Games Fun,Download the best word games Free in Word Coll...,4.7,588000,10000000,Everyone,Abstract graphics,"#10 top grossing word, Word, Search, Single pl..."
2,3,Tap Away,Do you have what it takes to solve all the swi...,4.3,1130000,50000000,Everyone,Abstract graphics,"Puzzle, Logic, Casual, Single player, Abstract..."
3,4,Sudoku - Classic Sudoku Puzzle,Enjoy the Classic Sudoku Puzzle Game for free!...,4.7,2650000,50000000,Everyone,Abstract graphics,"Puzzle, Logic, Sudoku, Casual, Single player, ..."
4,5,Woodber - Classic Number Game,Woodber - perfect combination of classic numbe...,4.6,225000,10000000,Everyone,Abstract graphics,"Puzzle, Logic, Casual, Single player, Abstract..."

In [9]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_id         335 non-null    int64
 1   game_name       335 non-null    object
 2   description     335 non-null    object
 3   score           335 non-null    float64
 4   ratings_count   335 non-null    int64
 5   downloads       335 non-null    int64
 6   content_rating  335 non-null    object
 7   section         335 non-null    object
 8   categories      335 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 23.7+ KB

In [11]:
print(games_df.isnull().sum())

game_id           0
game_name         0
description       0
score             0
ratings_count     0
downloads         0
content_rating    0
section           0
categories        0
dtype: int64

In [12]:
print(f"games_info.csv shape: {games_df.shape}")
print("\n Games Info – Numerical Summary:")
display(games_df.describe())

games_info.csv shape: (335, 9)

 Games Info – Numerical Summary:

        game_id       score  ratings_count     downloads
count  335.0000  335.000000   3.350000e+02  3.350000e+02
mean   168.0000    4.425970   1.336289e+06  5.558720e+07
std     96.8504    0.345562   3.657874e+06  1.430595e+08
min      1.0000    2.500000   5.800000e+01  1.000000e+03
25%     84.5000    4.300000   3.795000e+04  1.000000e+06
50%    168.0000    4.500000   1.890000e+05  1.000000e+07
75%    251.5000    4.600000   1.040000e+06  5.000000e+07
max    335.0000    5.000000   4.280000e+07  1.000000e+09